$background-color: #0e1015;
$foreground-color: #161a25;
$borders-color: #2f3640;
$button-border-color: rgba(47, 54, 64, 0.5);
$panel-radius: 10px;
$button-radius: 7px;
$button-active-color: #1f2833;
$button-hover-color: #181c21;
$text-active-color: #58c1e3;
$panel-spacing: 4px;
$button-color: #1f1f2c;
$secondary-color: #8f939d;
$underline-color: rgba(67, 75, 79, 0.8);
$panel-title-height: 35px;
